@page 
@model Semesterprojekt2.Pages.Shop.Products.DetailProductModel
@{
}
<html>
<head>
    <title>Product Page</title>
    <style>
        body {
            font-family: 'Lato', sans-serif;
            background-color: rgba(198, 81, 39, 0.08);
        }

        .product-container {
            display: flex;
            padding: 20px;
            max-width: 1200px;
            margin: auto;
        }

        .product-image {
            flex: 0 1 auto;
            width: 50%;
        }

            .product-image img {
                max-width: 90%;
                height: auto;
            }

        .product-details {
            margin-left: 20px;
            flex-grow: 1;
        }

            .product-details h1 {
                font-size: 24px;
                margin: 10px 0;
            }

            .product-details .price {
                font-size: 20px;
                font-weight: bold;
            }

        .add-to-cart {
            display: block;
            width: max-content;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #000;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            .add-to-cart:hover {
                opacity: 0.8;
            }

    </style>
</head>
<body>
    <main>
        <div class="product-container">
            <div class="product-image">
                <img src="~/images/Shop/@Model.Product.ProductImage"  />
            </div>
            <div class="product-details">
                <h1>@Model.Product.Name</h1>
                <p>@Model.Product.Description</p>
                <p class="price">@Model.Product.Price,-</p>
                <p>Brand: @Model.Product.Brand</p>
            </div>
            <div>
                <button class="add-to-cart">Add to cart</button>
            <a class="btn btn-primary btn-sm" title="Edit" asp-page="/Shop/Products/EditProduct" asp-route-id="@Model.Product.Id">Edit</a>
            <a class="btn btn-danger btn-sm" title="Delete" asp-page="/Shop/Products/DeleteProduct" asp-route-id="@Model.Product.Id">Delete</a>
            </div>
        </div>
    </main>
</body>
</html>

