@page 
@using Semesterprojekt2.Pages.Login
@model Semesterprojekt2.Pages.Shop.Products.DetailProductModel
@{
}
<html>
<head>
    <title>Product Page</title>
    <style>
        /* Grundlæggende styling for body */
        body {
            font-family: 'Lato', sans-serif; 
            background-color: rgba(198, 81, 39, 0.08); 
        }

        /* Container til produktet */
        .product-container {
            display: flex; 
            padding: 20px; 
            max-width: 1200px; 
            margin: auto; 
        }

        /* Styling for produktbilledet */
        .product-image {
            flex: 0 1 auto; 
            width: 200%; 
            height: auto;
        }
            /* Specifik styling for billedet inden i produktbilledet */
            .product-image img {
                width: 400px; 
                height: 400px; 
                object-fit: cover; 
            }

        /* Styling for produktdetaljer */
        .product-details {
            flex-grow: 1; 
            padding-left: 20px; 
            padding-top: 20px; 
        }

            /* Styling for produktnavnet */
            .product-details h1 {
                font-size: 24px; 
                margin: 10px 0; 
            }

            /* Styling for prisen */
            .product-details .price {
                font-size: 20px;
                font-weight: bold; 
            }

        /* Styling for handlingssektionen */
        .product-actions {
            margin-top: 20px;
        }

        /* Generel knap styling */
        .btn {
            display: inline-block;
            width: max-content; 
            padding: 10px 20px; 
            margin-top: 10px; 
            text-align: center; 
            text-decoration: none; 
            color: #fff; 
            background-color: #000; 
            border: none; 
            cursor: pointer; 
            border-radius: 5px; 
        }

        /* Styling for "Add to cart" knappen */
        .add-to-cart {
            width: 50%; 
        }

        /* Container til rediger og slet knapper */
        .edit-delete-container {
            display: flex; 
            justify-content: space-between; 
            width: 50%; 
            box-sizing: border-box; 
        }

        /* Styling for rediger og slet knapperne */
        .edit-button, .delete-button {
            flex: 1; 
            margin: 0 1px; 
            padding: 10px; 
            background-color: #FCC681; 
            color: #ffffff; 
            text-align: center; 
            border-radius: 5px; 
        }

        /* Specifik baggrundsfarve for slet knappen */
        .delete-button {
            background-color: #EAA193; 
        }

            /* Styling for ikoner inden i rediger og slet knapperne */
            .edit-button i, .delete-button i {
                margin-right: 5px; 
            }

        /* Hover effekt for rediger knappen */
        .edit-button:hover {
            background-color: #e6b057; 
        }

        /* Hover effekt for slet knappen */
        .delete-button:hover {
            background-color: #d29283; 
        }

    </style>
</head>
<body>
    <main>
        <!-- Container til produktet -->
        <div class="product-container">
            <!-- Sektion til produktbilledet -->
            <div class="product-image">
                <img src="~/images/Shop/@Model.Product.ProductImage" />
            </div>
            <!-- Sektion til produktdetaljer -->
            <div class="product-details">
                <h1>@Model.Product.Name</h1>
                <p class="price">@Model.Product.Price,-</p>
                <p class="brand">Brand: @Model.Product.Brand</p>
                <p>@Model.Product.Description</p>

                <!-- Sektion til handlingsknapper -->
                <div class="product-actions">
                    <!-- Formular til at tilføje produktet til indkøbskurven -->
                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="productId" value="@Model.Product.Id" />
                        <button class="btn add-to-cart" type="submit">Add to cart</button>
                    </form>
                    <!-- Container til rediger og slet knapper -->
                    <div class="edit-delete-container">
                                            <!-- Viser kun rediger og slet knapperne, hvis brugeren er logget ind som admin -->
                                            @if (LoginModel.LoggedInUser != null && LoginModel.LoggedInUser.Role == "Admin")
                    {
                            <a class="btn btn-primary btn-sm edit-button" title="Edit" asp-page="/Shop/Products/EditProduct" asp-route-id="@Model.Product.Id"><i class="fa fa-edit"></i> Product</a>
                            <a class="btn btn-primary btn-sm delete-button" title="Delete" asp-page="/Shop/Products/DeleteProduct" asp-route-id="@Model.Product.Id"><i class="fa fa-trash"></i> Product</a>
                    }
                </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

