@page
@using Semesterprojekt2.Models.Shop
@model Semesterprojekt2.Pages.Shop.Products.EditProductModel
@{
}
<!-- Formularopsætning til at sende opdateringer af produktet via POST-metoden -->
<form method="post" enctype="multipart/form-data">
	<!-- Produktets ID-felt (skrivebeskyttet), der unikt identificerer produktet under opdateringsoperationer -->
	<div class="form-group">
		<label asp-for="Product.Id" class="control-label"></label>
		<input asp-for="Product.Id" class="form-control" readonly="@(true)" />
	</div>
	<!-- Produktets navn felt med valideringsfeedback -->
	<div class="form-group">
		<label asp-for="Product.Name" class="control-label"></label>
		<input asp-for="Product.Name" class="form-control" />
		<span asp-validation-for="Product.Name" class="text-danger"></span>
	</div>
	<!-- -||- -->
	<div class="form-group">
		<label asp-for="Product.Price" class="control-label"></label>
		<input asp-for="Product.Price" class="form-control" />
		<span asp-validation-for="Product.Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Product.Type" class="control-label"></label>
		<select asp-for="@Model.Product.Type" asp-items="Html.GetEnumSelectList<ProductType>()" class="form-control"></select>
	</div>
	<div class="form-group">
		<label asp-for="Product.Brand" class="control-label"></label>
		<input asp-for="Product.Brand" class="form-control" />
		<span asp-validation-for="Product.Brand" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Product.Amount" class="control-label"></label>
		<input asp-for="Product.Amount" class="form-control" />
		<span asp-validation-for="Product.Amount" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Product.Description" class="control-label"></label>
		<input asp-for="Product.Description" class="form-control" />
		<span asp-validation-for="Product.Description" class="text-danger"></span>
	</div>
	<!-- Produktbillede upload med tilpasset filinput-stil -->
	<div class="form-group">
		<label asp-for="@Model.Photo" class="control-label"></label>
		<div class="custom-file">
			<input asp-for="@Model.Photo" class="custom-file-input form-control" />
		</div>
	</div>
	<!-- Send-knap for formularen -->
	<p>
		<div class="form-group">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>
	</p>
</form>
<!-- Link tilbage til produktlistesiden -->
<p>
	<a asp-page="/Shop/Shop">Back to List</a>
</p>