@page
@model Semesterprojekt2.Pages.Orderhistory.OrderhistoryModel
@{
}
<head>
    <style>
        .btn-outline-light {
            border: 1px solid black;
            background-color: transparent;
            color: black;
            padding: 8px 16px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 2px 2px 2px gray;
        }

    </style>
</head>
<body>
<center><h1>My Book a Time Order History</h1></center> 

<div style="text-align: center">
    <a class="btn btn-outline-light" asp-page="ProductOrderHistory">Product Order History</a>
</div>

<hr />

<p>
    <b>
        If the status of your order is shown as "Pending," it means that your order has not yet been accepted.
        When the status changes to "Accepted," your order is confirmed and accepted.
        If your order is deleted from the list, it means that it has been rejected.
    </b>
</p>

<div class="test">
    <table class="table table-bordered table-hover table-striped" width="60%">
        <colgroup>
            <col style="width : 7%">
            <col style="width : 34%">
            <col style="width : 35%">
            <col style="width : 24%">
            
        </colgroup>
        <thead >
            <tr class="btn-secondary active" >
                <th>ID</th>
                <th>Pictures</th>
                <th>Info</th>
                <th>Statues for booking <br /> Comment about your book time</th>
              
            </tr>
        </thead>
         <tbody>
            @if (@Model.MyBookATimeOrder != null)
            {
                foreach (var order in Model.MyBookATimeOrder
                .OrderByDescending(o => o.StatusForBooking == "Pending")
                .ThenBy(o => o.DateForBooking))
                {

                    <tr class="btn-secondary">
                        <td>
                           BookingId: @order.Id
                        </td>
                        <td>
                            <p> Dog image:</p>

                            <img src="~/ImagesForBookATime/Dog/@order.Dog.DogImage" alt="Dog Image" style="width:60%" />
                            <br />

                            @if (@order.BathRoomImage != null)
                            {
                                <p>Bathroom:</p>
                                <img src="~/ImagesForBookATime/Bath/@order.BathRoomImage" alt="Bathroom Image" style="width:60%" />
                            }
                          
                        </td>
             
                        <td>
                            <p> Date for booking: @order.DateForBooking</p>

                            <p>Date for when order is made: @order.DateForOrder</p>

                            <p>  Dog Size: @order.Ydelse.DogSize</p>

                            <p> ServiceType: @order.Ydelse.ServiceType</p>
                            @if (order.Elevator != null)
                            {
                                <p> Elevator: @order.ElevatorDisplay</p>
                            }
                           
                            @if (@order.Floors != null)
                            {
                                 <p> Floor:  @order.Floors </p>
                            }
                           
                            @if (@order.Address != null)
                            {
                                <p> Address for dog service:  @order.Address </p>
                            }
                          
                            Info about your dog:
                            <p> Name: @order.Dog.Name</p>
                            <p>  Race: @order.Dog.Race</p>
                            <p>Born: @order.Dog.Age</p>
                            <p> Comment about your dog: @order.Dog.Comments </p>
                            <p> First time at a dogsalon: @order.FirstTimeDisplay;</p>

                        </td>
                        <td>
                            @if (order.StatusForBooking == "Pending")
                            {
                                <p>
                                    <span style="color: black;">Status for booking:</span>
                                    <span style="color: #D96F11;">@order.StatusForBooking</span>
                                </p>
                            }
                            else
                            {
                                <p>
                                    <span style="color: black;">Status for booking:</span>
                                    <span style="color: #26890B;">@order.StatusForBooking</span>
                                </p>
                            }



                            @if (order.Comments == null)
                            {

                            }
                            else
                            {
                                <p>Comment: @order.Comments</p>
                            }
                            @if (order.StatusForBooking == "Pending")
                            {
                                <a class="btn btn-secondary btn-sm" type="button" data-toggle="tooltip" title="Edit" asp-page="BookATimeOrder/EditOrder" asp-route-id="@order.Id"><i class="fa fa-edit"></i></a>
                                
                                <a class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Delete" asp-page="BookATimeOrder/DeleteOrder" asp-route-id="@order.Id"><i class="fa fa-trash"></i></a>
                            }
                            
                  
                        </td>
                   
                    </tr>
                }
            }
        </tbody> 
    </table>
</div>
</body>