@page
@model Semesterprojekt2.Pages.Orderhistory.ProductOrderHistoryModel
@{
}
<head>
    <style>
        .btn-outline-light {
            border: 1px solid black;
            background-color: transparent;
            color: black;
            padding: 8px 16px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 2px 2px 2px gray;
        }

    </style>
</head>
<center><h1>Product Order history</h1></center>
<div style="text-align: center">
    <a class="btn btn-outline-light" asp-page="BookATimeOrderHistory">Book a Time Order History</a>
</div>

<hr />

<div class="test">
    <table class="table table-bordered table-hover table-striped" width="60%">
        <thead>
            <tr class="btn-secondary active">
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Count</th>
                <th>Total Order Price</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.MyProductOrders != null)
            {
                foreach (var order in Model.MyProductOrders)
                {
                    <tr class="btn-secondary">
                        <td>
                            @order.OrderId
                        </td>

                        <td>
                            @order.ProductId
                        </td>
                        <td>
                           @*  @order.ProductName *@
                        </td>
                        <td>
                          @*   @order.Price *@
                        </td>
                        <td>
                            @* @order.Count *@
                        </td>
                        <td>
                            @*  @(order.Count * order.Price) *@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>