@page
@using Semesterprojekt2.Pages.Login
@model Semesterprojekt2.Pages.Orderhistory.ProductOrderOverviewModel
@{
}
<head>
    <style>
        .btn-outline-light {
            border: 1px solid black;
            background-color: transparent;
            color: black;
            padding: 8px 16px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 2px 2px 2px gray;
        }

    </style>
</head>
<body>

    <center><h1 style="color:black;">Product Order Overview</h1></center>
    <hr />
    <div style="text-align: center">
        <a class="btn btn-outline-light" asp-page="BookATimeOverview">Go to: Book A Time Overview</a>
    </div>
    <hr />

    <div class="test">
        <table class="table table-bordered table-hover table-striped" width="60%">
            <thead>
                <tr class="btn-secondary active">
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Product</th>
                    <th>Count</th>
                    <th>Total Order Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.MyProductOrders != null)
                {
                    foreach (var order in Model.MyProductOrders)
                    {
                        <tr class="btn-secondary">
                            <td>
                                @order.OrderId
                            </td>
                            <td>@order.Date</td>
                            <td>
                                <p>ID: @order.UserId</p>
                                <p>Name: @order.User.Name</p>
                                <p>Phone: @order.User.Telefonnummer</p>
                            </td>
                            <td>
                                <p>ID: @order.ProductId</p>
                                <p>Name: @order.ProductId</p>
                                <img src="~/Images/Shop/@order.Product.ProductImage" alt="Product image" style="width:50%; max-width: 200px;" />
                            </td>
                            <td>
                                @order.Counts
                            </td>
                            <td>
                                @(order.Counts * order.Product.Price),-
                            </td>
                            <td>
                                <form method="post">
                                    <input type="hidden" asp-for="ProductOrder.OrderId" value="@order.OrderId" />
                                    <button type="submit" style="background-color:#EAA193; color: #ffffff" asp-page="/Orderhistory/ProductOrder/DeleteProductOrder" title=>Delete <i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>