@page
@using Semesterprojekt2.Pages.Login
@model Semesterprojekt2.Pages.Shop.ShopModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        /* Grundlæggende styling for body */
        body {
            font-family: "Lato", sans-serif; 
            background-color: rgba(198, 81, 39, 0.08); 
        }

        /* Styling for kortene */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 300px;
            margin: 10px;
            text-align: center;
            font-family: arial;
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 400px;
        }

            /* Styling for billedet inde i kortet */
            .card img {
                width: 100%;
                height: 270px;
                object-fit: cover;
            }

            /* Styling for overskrift og paragraf inde i kortet */
            .card h3, .card p {
                margin: 10px 0; 
            }

        /* Styling for prisen */
        .price {
            color: grey; 
            font-size: 20px; 
        }

        /* Styling for knappen inde i kortet */
        .card button {
            border: none;
            outline: 0;
            padding: 6px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            margin-top: auto;
        }

            /* Hover effekt for knappen */
            .card button:hover {
                opacity: 0.7; 
            }

        /* Container for kortene */
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
            margin: 0 auto; 
            max-width: 100%; 
        }

        /* Styling for links inde i kortet */
        .card a {
            display: block;
            color: inherit;
            text-decoration: none;
        }

        /* Styling for beskrivelsen */
        .description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Styling for inputgruppen */
        .input-group {
            margin-left: 8%; 
            max-width: 100%; 
            display: flex;
            justify-content: left; 
            align-items: center;
            gap: 0px; 
        }

    </style>
</head>
<body>
    <!-- Formular til søgning og filtrering -->
    <form method="post">
        <div class="input-group mb-3">
            <input asp-for="SearchString" class="form-control mr-1" style="max-width: 200px;" placeholder="Enter search term" />
            <input type="submit" asp-page-handler="NameSearch" value="Search" style="background-color: #C65127; color: #ffffff;" class="btn btn-primary me-2" />
            <div class="input-group-prepend">
                <span class="input-group-text">Min</span>
            </div>
            <input asp-for="MinPrice" class="form-control mr-1" style="max-width: 100px;" />
            <div class="input-group-prepend">
                <span class="input-group-text">Max</span>
            </div>
            <input asp-for="MaxPrice" class="form-control mr-1" style="max-width: 100px;" />
            <input type="submit" asp-page-handler="PriceFilter" value="Sort" style="background-color: #C65127; color: #ffffff;" class="btn btn-primary" />
        </div>
    </form>

    <!-- Tjekker om brugeren er logget ind som admin og viser link til at oprette et nyt produkt -->
    @if (LoginModel.LoggedInUser != null && LoginModel.LoggedInUser.Role == "Admin")
    {
        <p>
            <a class="btn btn-primary" style="float: right; position:absolute; right: 12%; top: 103px; background-color: #C65127; color: #ffffff;" asp-page="Products/AddProduct">Create a new product</a>
        </p>
    }

    <!-- Container for kortene -->
    <div class="card-container">
        <!-- Tjekker om der er produkter at vise -->
        @if (@Model.Products != null)
        {
            <!-- Loop gennem hvert produkt i modellen -->
            foreach (var product in Model.Products)
            {
                <!-- Individuelt kort for hvert produkt -->
                <div class="card">
                    <a href="@Url.Page("/Shop/Products/DetailProduct", new { id = product.Id })" style="text-decoration:none; color:inherit;">
                        <img src="~/images/Shop/@product.ProductImage" alt="Product Image">
                        <h3 style="color: #C65127;">@product.Name</h3>
                        <p class="price">@product.Price,-</p>
                    </a>
                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <button type="submit">Add to cart</button>
                    </form>
                </div>
            }
        }
    </div>

</body>
</html>