@page
@model Semesterprojekt2.Pages.Shop.ShopModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Basal styling for hele siden */
        body {
            font-family: "Lato", sans-serif; /* Angiver skrifttype */
            background-color: rgba(198, 81, 39, 0.08); /* Baggrundsfarve med transparens */
        }

        /* Styling for sidelinks, fast i venstre side */
        .sidenav {
            width: 130px; /* Bredden af side navigationsbaren */
            height: 800px; /* Højden af side navigationsbaren */
            position: absolute; /* Positionering uden for normal flow */
            z-index: 1; /* Sørger for at navigationsbaren ligger over andre elementer */
            top: 85px; /* Topposition fra viewportens top */
            left: 0px; /* Venstre positionering fra viewportens venstre kant */
            background-color: rgb(239,231,225); /* Baggrundsfarve */
            overflow-x: hidden; /* Skjuler horisontal scrollbar */
            overflow-y: auto; /* Tillader vertikal scrollbar */
            padding: 8px 0; /* Vertikal padding */
        }

            /* Styling af links inden i side navigationen */
            .sidenav a {
                padding: 6px 8px 6px 16px; /* Padding omkring link tekst */
                text-decoration: none; /* Fjerner understregning */
                font-size: 20px; /* Størrelse af tekst */
                color: black; /* Tekstfarve */
                display: block; /* Viser links som block elementer */
            }

                /* Hover-effekt for links */
                .sidenav a:hover {
                    color: #064579; /* Farveskift ved hover */
                }

        /* Styling for produktkort */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Skyggeeffekt */
            max-width: 300px; /* Maksimal bredde */
            margin: 10px; /* Margin omkring kort */
            text-align: center; /* Tekstcentrering */
            font-family: arial; /* Skrifttype */
            position: relative; /* Position relativt til nærmeste positionerede forfader */
            cursor: pointer; /* Cursor ændres til pointer */
        }

        /* Styling for prisindikation på kort */
        .price {
            color: grey; /* Farve på pris */
            font-size: 20px; /* Størrelse på pris tekst */
        }

        /* Styling for knapper på kort */
        .card button {
            border: none; /* Ingen ramme */
            outline: 0; /* Ingen outline */
            padding: 6px; /* Padding */
            color: white; /* Tekstfarve */
            background-color: #000; /* Baggrundsfarve */
            text-align: center; /* Centrering af tekst */
            cursor: pointer; /* Cursor ændres til pointer */
            width: 100%; /* Bredde fylder hele kortet */
            font-size: 18px; /* Størrelse på tekst */
        }

            /* Hover-effekt for knapper */
            .card button:hover {
                opacity: 0.7; /* Gør knappen delvist gennemsigtig ved hover */
            }

        /* Container til kort, som viser flere produkter */
        .card-container {
            display: flex; /* Flexbox display til at placere kortene */
            flex-wrap: wrap; /* Tillader kortene at wrappe på flere rækker */
            justify-content: flex-start; /* Justering af indhold */
            margin-left: 135px; /* Venstre margin */
        }

        /* Stil for links inden i kort, så de nedarver farve og ingen dekoration */
        .card a {
            display: block; /* Gør links til block-elementer */
            color: inherit; /* Arver farve fra forældrelement */
            text-decoration: none; /* Ingen tekstdekoration */
        }

        /* Beskrivelsesfelt med ellipsis for at begrænse tekstvisning */
        .description {
            white-space: nowrap; /* Ingen ombrydning af tekst */
            overflow: hidden; /* Skjuler tekst der går ud over elementets grænse */
            text-overflow: ellipsis; /* Tilføjer ellipsis (...) når tekst skæres */
        }

        /* Styling for inputgruppen */
        .input-group {
            margin-left: 85px; /* Venstre margin for inputgruppen */
        }

    </style>
</head>
<body>

    <!-- Side navigationsbar for hurtig adgang til forskellige kategorier -->
    <div class="sidenav">
        <a asp-page="/Shop/Soaps">Soap</a>
        <a asp-page="/Shop/Toys">Toys</a>
        <a asp-page="/Shop/Brushes">Brushes</a>
        <a asp-page="/Shop/Treats">Treats</a>
    </div>

    <!-- Formular til søgning og prisfiltrering -->
    <form method="post">
        <div class="input-group mb-3">
            <!-- Input for søgestreng -->
            <input asp-for="SearchString" class="form-control mr-1" style="max-width: 200px;" placeholder="Indtast søgeterm" />
            <!-- Søgeknap -->
            <input type="submit" asp-page-handler="NameSearch" value="Søg" style="background-color: #C65127; color: #ffffff; top: 0px; border-radius: .25rem;" class="btn btn-primary me-2" />
            <!-- Minimumspris input -->
            <div class="input-group-prepend">
                <span class="input-group-text">Min</span>
            </div>
            <input asp-for="MinPrice" class="form-control mr-1" style="max-width: 100px;" />
            <!-- Maksimumspris input -->
            <div class="input-group-prepend">
                <span class="input-group-text">Max</span>
            </div>
            <input asp-for="MaxPrice" class="form-control mr-1" style="max-width: 100px;" />
            <!-- Filtreringsknap for pris -->
            <input type="submit" asp-page-handler="PriceFilter" value="Filtrer" style="background-color: #C65127; color: #ffffff; top: 0px;" class="btn btn-primary" />
        </div>
    </form>

    <!-- Link til oprettelse af nyt produkt -->
    <p>
        <a class="btn btn-primary" style="float: right; position:absolute; right: 10px; top: 103px; background-color: #C65127; color: #ffffff;" asp-page="Products/AddProduct">Opret et nyt produkt</a>
    </p>

    <!-- Container til produktkort, som viser de enkelte produkter -->
    <div class="card-container">
        @if (@Model.Products != null)
        {
            foreach (var product in Model.Products)
            {
                <div class="card">
                    <!-- Link til produktdetaljer med produktbillede, navn og pris -->
                    <a href="@Url.Page("/Shop/Products/DetailProduct", new { id = product.Id })" style="text-decoration:none; color:inherit; display:block; position:relative;">
                        <img src="~/images/Shop/@product.ProductImage" alt="Product Image" style="width:100%">
                        <h3 style="color: #C65127;">@product.Name</h3>
                        <p style=" margin-bottom: 50px;" class="price">@product.Price,-</p>
                    </a>
                    <!-- Knappen 'Tilføj til kurv' -->
                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <button type="submit">Add to cart</button>
                    </form>
                </div>
            }
        }
    </div>

</body>
</html>