@page
@model Semesterprojekt2.Pages.Login.CreateAdminModel
@{
}

@using Semesterprojekt2.Pages.Login @*Skal være logged ind for at se denne side*@

<html>
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "poppins", sans-serif;
        }

        body {
            min-height: 100vh;
            background-image: url('../Images/Login/Overskrift billede.jpg');
            background-size: cover;
            background-position: center;
        }

        .container {
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
        }

        .wrapper {
            width: 420px;
            background: transparent;
            border: 2px solid rgba(255, 255, 255, .2);
            color: #fff;
            border-radius: 10px;
            padding: 30px 40px;
        }

            .wrapper h1 {
                font-size: 36px;
                text-align: center;
            }

            .wrapper .input-box {
                position: relative;
                width: 100%;
                height: 50px;
                background: salmon;
                margin: 30px 0;

                border: none;
                outline: none;
                border-radius: 40px;

            }

        .input-box input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid rgba(255,255,255,.2);
            border-radius: 40px ;
            font-size: 16px;
            color: #fff;
            padding: 20px 45px 20px 20px;
        }

            .input-box input::placeholder {
                color: #fff;
            }

        .input-box i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }

        .wrapper .btn {
            width: 100%;
            height: 45px;
            background: #fff;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            cursor: pointer;
            font-size: 16px;
            color: #333;
            font-weight: 600;
        }

        .wrapper .register-link {
            font-size: 14.5px;
            text-align: center;
            margin: 20px 0 15px;
        }

        .register-link p a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }

            .register-link p a:hover {
                text-decoration: underline;
            }

        /* .hidden class is used to make labels for input fields non-visible */ 
        .hidden {
            height: 1px;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: -10000px;
            width: 1px;
        }
    </style>
</head>
<body>
    <div class="container" style="display: flex;">
        <div class="wrapper">
            <form method="post">
                <h1>Create Admin User</h1>

  

                <div class="input-box">
                    <label asp-for="@Model.Name" class="hidden" class="control-lable">Enter full name</label>
                    <input asp-for="@Model.Name" class="form-control" type="text" placeholder="Full Name" required />
                    <i class='bx bxs-user'></i>
                </div>


                <div class="input-box">
                    <label asp-for="@Model.Email" class="hidden" class="control-lable">Enter Email</label>
                    <input asp-for="@Model.Email" class="form-control" type="email" placeholder="Email" required />
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box">
                    <label asp-for="@Model.Phone" class="hidden" for="phone">Enter Phone</label>
                    <!-- RegEx Pattern that checks: Input can start with + (optional), max karakter 13, digits 0-9
                     ^: Asserts the start of the string.
                    \+?: Matches the plus sign + zero or one time. The ? makes the plus sign optional.
                    [0-9]{1,12}: Matches digits from 0 to 9, occurring between 1 to 13 times -> We do this cause we expect international numbers
                    $: Asserts the end of the string. -->
                    <input asp-for="@Model.Phone" type="tel" placeholder="Phone" pattern="^\+?[0-9]{1,13}$" required />
                    <i class='bx bxs-user'></i>
                </div>
                
                <!-- Passwords -->
                <div class="input-box">
                    <label asp-for="@Model.Password" class="hidden" class="control-lable">Enter Password: 6 characters minimum</label>
                    <input asp-for="@Model.Password" class="form-control" type="password" placeholder="Password" required />
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="input-box">
                    <label asp-for="@Model.ConfirmPassword" class="hidden" class="control-lable">  Enter Password: 6 characters minimum</label>
                    <input asp-for="@Model.ConfirmPassword" class="form-control" type="password" placeholder="Password" required />
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <!-- Role (hidden), default value -->
                <div class="input-box" hidden>
                    <input asp-for="@Model.Role" class="hidden" class="form-control" type="text" value="Admin" placeholder="Role" required />
                    <i class='bx bxs-lock-alt'></i>
                </div>
                
                <!-- Confirmation Button -->
                <button type="submit" class="btn">Create a new Admin</button>
            </form>
        </div>
    </div>
</body>
</html>





