@page 
@model Semesterprojekt2.Pages.Login.ResetPasswordModel
@{
}

<h1>Reset Password</h1>


<form method="post">
	<div class="form-group" hidden >
		<label asp-for="User.UserId" class="control-lable"></label>
		<input asp-for="User.UserId" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group" hidden>
		<label asp-for="User.Name" class="control-lable"></label>
		<input asp-for="User.Name" class="form-control" />
		<span asp-validation-for="User.Name" class="text-danger"></span>
	</div>
	<div class="form-group" hidden>
		<label asp-for="User.Password" class="control-lable"></label>
		<input asp-for="User.Password" class="form-control" />
		<span asp-validation-for="User.Password" class="text-danger"></span>
	</div>
	<div class="form-group" hidden>
		<label asp-for="User.Email" class="control-lable"></label>
		<input asp-for="User.Email" class="form-control" />
		<span asp-validation-for="User.Email" class="text-danger"></span>
	</div>
	<div class="form-group" hidden>
		<label asp-for="User.Telefonnummer" class="control-lable"></label>
		<input asp-for="User.Telefonnummer" class="form-control" />
		<span asp-validation-for="User.Telefonnummer" class="text-danger"></span>
	</div>
	<div class="form-group" hidden>
		<label hidden asp-for="User.Role" class="control-label"></label>
		<input hidden asp-for="User.Role" class="form-control" />
	</div>

	@if (@Model.User != null)
	{

	<p>
		<div class="form-group">
			<h5>Are you sure you want to reset the password for User: @Model.User.Name with Id: @Model.User.UserId ? </h5>
			<input type="submit" value="Reset" class="btn btn-primary" />
		</div>
	</p>

	}

	<!-- Confirmation Message for when password gets updated -->
	@if (TempData["Message"] != null)
	{
			<div class="alert alert-success">
			@TempData["Message"]
			</div>

	}

</form>

<p>
	<a asp-page="/Login/UserOverview">Back to User Overview</a>
</p>






	

