@page
@model Semesterprojekt2.Pages.Login.UserOverviewModel
@{
}


<h1>User Overview</h1>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Action 
            </th>
        </tr>
    </thead>
    <tbody>


        @if (Model.Users != null)
        {
            foreach (var obj in Model.Users)
            { 
                <tr>
                    <td>
                        @obj.UserId
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Email
                    </td>
                    <td>
                        @obj.Role  
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" title="Reset">Reset Password</a> <!-- Har ikke nogen funktionalitet -->
                        <a class="btn btn-danger btn-sm" title="Edit" asp-page="/Login/EditUserbyAdmin" asp-route-id="@obj.UserId">Edit <i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm" title="Delete" asp-page="/Login/DeleteUserbyAdmin" asp-route-id="@obj.UserId">Delete <i class="fa fa-trash"></i></a>
                    </td>
                </tr>

            }
        }

    </tbody>
</table>







