@page
@using Semesterprojekt2.Models.Shop
@model Semesterprojekt2.Pages.ShoppingCart.ShoppingCartModel
@{
    ViewData["Title"] = "Your Shopping Cart";
}
<style>
    .link-no-style {
        text-decoration: none; /* Removes underline */
        color: inherit; /* Keeps the text color consistent with surrounding text */
    }
</style>

<center><h1>@ViewData["Title"]</h1></center>

<hr />
<center><p>Please note that products can only be picked up or added to a scheduled appointment.</p></center>
<hr />
<form method="post" asp-page-handler="RemoveAllCartItems" style="text-align: right;">
    <button type="submit" class="btn btn-warning">Clear Cart</button>
</form>
<br />
<body>

@if (Model.CartItem.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItem)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@(item.Product.Price?.ToString("C") ?? "N/A")</td>
                    <td>@item.Quantity</td>
                    <td>@((item.Product.Price ?? 0) * item.Quantity)</td>
                    <td>
                        <form method="post" asp-page-handler="RemoveSingleCartItem" asp-route-productId="@item.Product.Id">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="text-align: right;"><strong>Total Price:</strong></td>
                <td colspan="2">@Model.TotalPrice.ToString("C")</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>Your shopping cart is waiting to be filled.</p>
}

<div style="text-align: center;">
    <h5><a asp-page="/Shop/Shop" class="link-no-style">Do you want to continue shopping?</a></h5>
</div>

<center><p>or</p></center>

<div style="text-align: center;">
                <form method="post">
                    <div class="form-group">
                        <input type="submit" style="background-color: transparent; color: black; font-size: 30px;"value="Finish and reserve" class="btn btn-primary" />
                    </div>
                </form>
</div>
<div>
   @*  <form method="post" asp-page-handler="AddToOrder">
        <input type="hidden" name="productId" value="@Model.Product.Id" />
        <button type="submit">Add to cart</button>
    </form> *@
</div>
</body>